@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




.whole {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.error {
    margin: auto;
}

.error>h1{
    color: rgb(75, 71, 71);
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    text-align: center;
}


a {
    margin: auto;
   
    
    align-items: center;
}

