<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/artists.css">
    <title>Artists</title>
</head>

<body>
    <main>
       <div class="cards">
        {{range .}}
        <div class="artist appear_animation">
            <a href="http://localhost:3535/artists?id={{.Id}}">
                <img loading="lazy" src="{{ .Image}}" alt="Image Band">
                <div class="container">
                    <h3>{{ .Name}}</h3>
                </div>
            </a>
        </div>
        {{end}}
    </div>
    </main>

</body>

</html>