<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist</title>
</head>

<body>
    <div> 
        <img src="{{ .Image}}"><br>
        <h4>Name: {{.Name}}</h4><br>
        <span>{{range .Members}}{{.}} <br> {{end}}</span>
        <h4>Creation Date: {{.CreationDate}}</h4>
        <h4>First Album: {{.FirstAlbum}}</h4>
        <h4>Concert Dates:</h4>
        {{ range index .ConcertDates.Dates}}<span>{{.}}</span><br>{{end}}
        <h4>Locations: </h4>
         {{range index .Locations.Locations }}<span>{{.}}</span><br>{{end}}
        <h4>Relations: </h4>    
        {{range $key, $value := index .Relations.DatesLocations}}
        <strong>{{ $key }}</strong>: {{ range $value }} <li>{{.}}</li><br> {{end}}
        {{end}}
    </div>

</body>

</html>


