<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/assets/styles/index.css">
    <title>Artists</title>
</head>
<body>
    {{template "header"}}
    <main class="body">
        <div class="info">
            <span class="quote"><q>Life seems to go on without effort when I am filled with music. </q>― George Eliot</span><br>
            
             <a href="http://localhost:3535/artists/"><button>Let's get started!</button></a>
        </div>
    <div class="radius">
        <div class="image">
            <img src="/assets/images/image.avif" alt="image">
        </div>
    </div>
        
    </main>
    
   {{template "footer"}}

</body>
</html>